DATABASE_URL="postgresql://user:password@localhost:5432/db?schema=public"
PORT=3002
HOST=0.0.0.0

REDIS_HOST=localhost
REDIS_PORT=6379

FIREBASE_CLIENT_EMAIL=your-service-account@project.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
FIREBASE_PROJECT_ID=your-project-id

# Bull Board Security
BULL_BOARD_USER=admin
BULL_BOARD_PASSWORD=changeme

# CORS
ALLOWED_ORIGIN=http://localhost:3000
